# Análisis del archivo unified_football_data.csv

Este notebook analiza el archivo `data/intermediate/unified_football_data.csv` para identificar columnas con alta presencia de valores nulos (NaN) y eliminar variables irrelevantes, simplificando así el dataset para futuros análisis.

In [63]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\andre\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\andre\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\andre\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\andre\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\andre\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in c:\users\andre\appdata\local\programs\python\python313\lib\site-packages (2.3.5)

In [64]:
# Importar librerías necesarias
import pandas as pd
import numpy as np

In [65]:
import os
os.chdir("C:/Users/andre/Desktop/proyectos/empateitor")  # Ajusta si tu ruta es diferente

In [66]:
# Cargar el archivo CSV
df = pd.read_csv('data/intermediate/unified_football_data.csv')

C:\Users\andre\AppData\Local\Temp\ipykernel_21264\1042503412.py:2: DtypeWarning: Columns (1,5,13,25,37,54,99,105,106,148,151,196,199) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/intermediate/unified_football_data.csv')

In [67]:
# Visualizar las primeras filas del dataset
df.head()

,Season,Division,Competition,Div,Date,Time,HomeTeam,AwayTeam,1XBA,1XBCA,1XBCD,1XBCH,1XBD,1XBH,ABP,AC,AF,AFKC,AHCh,AHW,AHh,AO,AR,AS,AST,AT,AY,Attendance,Avg<2.5,Avg>2.5,AvgA,AvgAHA,AvgAHH,AvgC<2.5,AvgC>2.5,AvgCA,AvgCAHA,AvgCAHH,AvgCD,AvgCH,AvgD,AvgH,B365<2.5,B365>2.5,B365A,B365AH,B365AHA,B365AHH,B365C<2.5,B365C>2.5,B365CA,B365CAHA,B365CAHH,B365CD,B365CH,B365D,B365H,BFA,BFCA,BFCD,BFCH,BFD,BFDA,BFDCA,BFDCD,BFDCH,BFDD,BFDH,BFE<2.5,BFE>2.5,BFEA,BFEAHA,BFEAHH,BFEC<2.5,BFEC>2.5,BFECA,BFECAHA,BFECAHH,BFECD,BFECH,BFED,BFEH,BFH,BMGMA,BMGMCA,BMGMCD,BMGMCH,BMGMD,BMGMH,BSA,BSD,BSH,BVA,BVCA,BVCD,BVCH,BVD,BVH,BWA,BWCA,BWCD,BWCH,BWD,BWH,Bb1X2,BbAH,BbAHh,BbAv<2.5,BbAv>2.5,BbAvA,BbAvAHA,BbAvAHH,BbAvD,BbAvH,BbMx<2.5,BbMx>2.5,BbMxA,BbMxAHA,BbMxAHH,BbMxD,BbMxH,BbOU,CLA,CLCA,CLCD,CLCH,CLD,CLH,FTAG,FTHG,FTR,GB<2.5,GB>2.5,GBA,GBAH,GBAHA,GBAHH,GBD,GBH,HBP,HC,HF,HFKC,HHW,HO,HR,HS,HST,HT,HTAG,HTHG,HTR,HY,IWA,IWCA,IWCD,IWCH,IWD,IWH,LB,LB.1,LB.2,LBA,LBAH,LBAHA,LBAHH,LBCA,LBCD,LBCH,LBD,LBH,Max<2.5,Max>2.5,MaxA,MaxAHA,MaxAHH,MaxC<2.5,MaxC>2.5,MaxCA,MaxCAHA,MaxCAHH,MaxCD,MaxCH,MaxD,MaxH,P<2.5,P>2.5,PAHA,PAHH,PC<2.5,PC>2.5,PCAHA,PCAHH,PSA,PSCA,PSCD,PSCH,PSD,PSH,Referee,SBA,SBD,SBH,SJA,SJD,SJH,SOA,SOD,SOH,SYA,SYD,SYH,Unnamed: 10,Unnamed: 105,Unnamed: 106,Unnamed: 11,Unnamed: 119,Unnamed: 12,Unnamed: 120,Unnamed: 121,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 7,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 8,Unnamed: 9,VCA,VCCA,VCCD,VCCH,VCD,VCH,WHA,WHCA,WHCD,WHCH,WHD,WHH
0,00-01,1,belgian_pro_league,B1,12/08/00,NaN,Beveren,Charleroi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,A,NaN,NaN,2.50,NaN,NaN,NaN,3.5,2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,D,NaN,2.90,NaN,NaN,NaN,3.0,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.95,3.4,2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.9,NaN,NaN,NaN,3.4,2.00
1,00-01,1,belgian_pro_league,B1,12/08/00,NaN,Mechelen,Genk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,D,NaN,NaN,2.65,NaN,NaN,NaN,3.6,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,D,NaN,2.80,NaN,NaN,NaN,3.0,2.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.55,3.4,2.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.4,NaN,NaN,NaN,3.3,2.40
2,00-01,1,belgian_pro_league,B1,12/08/00,NaN,Louvieroise,Lokeren,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,D,NaN,NaN,2.45,NaN,NaN,NaN,3.3,2.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,D,NaN,2.35,NaN,NaN,NaN,3.0,2.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.40,3.4,2.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.4,NaN,NaN,NaN,3.3,2.40
3,00-01,1,belgian_pro_league,B1,12/08/00,NaN,Mouscron,Germinal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,H,NaN,NaN,3.50,NaN,NaN,NaN,3.3,1.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,H,NaN,3.50,NaN,NaN,NaN,3.0,1.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.50,3.4,1.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00-01,1,belgian_pro_league,B1,12/08/00,NaN,Westerlo,Antwerp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,H,NaN,NaN,4.70,NaN,NaN,NaN,4.1,1.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,H,NaN,3.60,NaN,NaN,NaN,3.1,1.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50,3.5,1.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.2,NaN,NaN,NaN,3.6,1.61

In [68]:
# Explorar los nombres y tipos de columnas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250281 entries, 0 to 250280
Columns: 288 entries, Season to WHH
dtypes: float64(268), object(20)
memory usage: 549.9+ MB

In [69]:
# Calcular porcentaje de valores NaN por columna
nan_percent = df.isna().mean() * 100
nan_percent.sort_values(ascending=False)

Unnamed: 70     100.000000
Unnamed: 7      100.000000
Unnamed: 62     100.000000
Unnamed: 61     100.000000
Unnamed: 60     100.000000
Unnamed: 59     100.000000
Unnamed: 58     100.000000
Unnamed: 57     100.000000
Unnamed: 56     100.000000
Unnamed: 55     100.000000
Unnamed: 54     100.000000
Unnamed: 53     100.000000
Unnamed: 52     100.000000
Unnamed: 51     100.000000
Unnamed: 50     100.000000
Unnamed: 49     100.000000
Unnamed: 43     100.000000
Unnamed: 45     100.000000
Unnamed: 46     100.000000
Unnamed: 47     100.000000
Unnamed: 48     100.000000
Unnamed: 42     100.000000
Unnamed: 44     100.000000
Unnamed: 36     100.000000
Unnamed: 37     100.000000
Unnamed: 38     100.000000
Unnamed: 39     100.000000
Unnamed: 40     100.000000
Unnamed: 41     100.000000
Unnamed: 33     100.000000
Unnamed: 34     100.000000
Unnamed: 35     100.000000
Unnamed: 20     100.000000
Unnamed: 21     100.000000
Unnamed: 22     100.000000
Unnamed: 23     100.000000
Unnamed: 24     100.000000
Unnamed: 25     100.000000
Unnamed: 26     100.000000
Unnamed: 27     100.000000
Unnamed: 28     100.000000
Unnamed: 29     100.000000
Unnamed: 30     100.000000
Unnamed: 31     100.000000
Unnamed: 32     100.000000
Unnamed: 18     100.000000
Unnamed: 19     100.000000
Unnamed: 17     100.000000
Unnamed: 8      100.000000
Unnamed: 11     100.000000
Unnamed: 106    100.000000
Unnamed: 105    100.000000
Unnamed: 10     100.000000
Unnamed: 121    100.000000
Unnamed: 120    100.000000
Unnamed: 12     100.000000
Unnamed: 119    100.000000
Unnamed: 13     100.000000
Unnamed: 14     100.000000
Unnamed: 15     100.000000
Unnamed: 16     100.000000
Unnamed: 71     100.000000
Unnamed: 9      100.000000
Unnamed: 72     100.000000
LB.2             99.959246
LB.1             99.959246
LB               99.959246
HT               99.582070
AT               99.582070
AFKC             99.466999
HFKC             99.466999
BMGMH            98.708651
BMGMA            98.708651
BMGMD            98.708651
BVA              98.680683
BVH              98.680683
BVD              98.680683
BMGMCA           98.663902
BMGMCD           98.663902
BMGMCH           98.663902
BFDD             98.655112
BFDH             98.655112
BFDA             98.655112
CLH              98.654313
CLD              98.654313
CLA              98.654313
BVCH             98.650717
BVCD             98.650717
BVCA             98.650717
LBCH             98.649917
CLCD             98.649917
CLCA             98.649917
LBCD             98.649917
BFDCA            98.649917
LBCA             98.649917
BFDCH            98.649917
BFDCD            98.649917
CLCH             98.649917
LBAH             98.188836
LBAHA            98.188436
LBAHH            98.188436
SYA              97.780894
SYH              97.780894
SYD              97.780894
B365AH           97.742537
SOD              97.740939
SOA              97.740540
SOH              97.740540
AHW              97.340989
HHW              97.340989
HO               97.340589
AO               97.340589
Attendance       97.276661
HBP              97.272266
ABP              97.272266
1XBA             97.000571
1XBD             97.000571
1XBH             97.000571
BFD              96.934246
BFA              96.934246
BFH              96.934246
BFCD             96.931449
BFCH             96.931449
BFCA             96.931449
1XBCA            96.931050
1XBCD            96.931050
1XBCH            96.931050
GBAH             96.461577
GBAHA            96.460778
GBAHH            96.452388
BFEAHA           96.302156
BFEAHH           96.302156
BFE>2.5          95.773950
BFE<2.5          95.773950
BFEA             95.623319
BFEH             95.623319
BFED             95.623319
BFECAHA          95.585362
BFECAHH          95.585362
BFEC<2.5         95.582965
BFEC>2.5         95.582965
BFECH            95.581766
BFECA            95.581766
BFECD            95.581766
GB>2.5           94.952873
GB<2.5           94.952873
IWCD             86.400486
IWCA             86.400486
IWCH             86.400486
VCCH             84.845034
VCCD             84.845034
VCCA             84.845034
WHCA             83.072626
WHCH             83.072626
WHCD             83.072626
BWCA             81.822432
BWCD             81.822432
BWCH             81.822432
BSA              81.582301
BSH              81.582301
BSD              81.581902
P>2.5            80.817561
P<2.5            80.817561
PAHH             80.781601
PAHA             80.781202
PC>2.5           80.736852
PC<2.5           80.736852
PCAHH            80.705287
PCAHA            80.705287
B365CAHA         80.435191
B365CAHH         80.435191
AHh              80.428798
B365C<2.5        80.422805
B365C>2.5        80.422805
MaxAHA           80.421606
MaxAHH           80.421606
AvgAHA           80.421207
AvgAHH           80.421207
B365CA           80.421207
B365CH           80.421207
B365CD           80.421207
Avg<2.5          80.420807
Max<2.5          80.420807
Avg>2.5          80.420807
Max>2.5          80.420807
AvgH             80.420407
AvgA             80.420407
MaxA             80.420407
MaxD             80.420407
AvgD             80.420407
MaxH             80.420407
AHCh             80.410019
MaxCAHA          80.409620
MaxCAHH          80.409620
AvgCA            80.409220
AvgCH            80.409220
AvgCAHH          80.409220
AvgC>2.5         80.409220
AvgCD            80.409220
MaxC<2.5         80.409220
MaxCD            80.409220
MaxCH            80.409220
MaxC>2.5         80.409220
AvgC<2.5         80.409220
MaxCA            80.409220
AvgCAHA          80.409220
Time             80.396434
B365<2.5         78.810617
B365>2.5         78.810617
B365AHA          78.290002
B365AHH          78.289602
SJA              71.930750
SJD              71.930750
SJH              71.930750
Referee          71.360191
SBH              68.634455
SBA              68.634055
SBD              68.634055
GBA              64.837123
GBH              64.837123
GBD              64.837123
PSCA             59.577835
PSCD             59.577835
PSCH             59.577435
PSH              59.417215
PSD              59.417215
PSA              59.417215
BbMxAHA          56.725441
BbAvAHA          56.725441
BbAHh            56.724642
BbAvAHH          56.724642
BbMxAHH          56.724642
BbAH             56.724242
BbAv<2.5         56.627950
BbMx<2.5         56.627950
BbMx>2.5         56.627551
BbAv>2.5         56.627551
BbOU             56.627151
BbAvA            56.602778
BbMxA            56.602778
Bb1X2            56.602379
BbAvH            56.602379
BbMxD            56.602379
BbMxH            56.602379
BbAvD            56.602379
AF               51.557250
HF               51.557250
HST              51.041829
AST              51.040630
LBD              50.985093
LBH              50.985093
LBA              50.983894
HC               50.868424
AC               50.868424
HS               50.719791
AS               50.718592
AR               48.642925
HY               48.642526
HR               48.642126
AY               48.642126
VCD              41.741483
VCH              41.741083
VCA              41.741083
BWH              36.297202
BWD              36.297202
BWA              36.297202
IWA              32.521046
IWD              32.519448
IWH              32.519448
B365D            31.151785
B365H            31.151785
B365A            31.151785
WHD              30.129335
WHH              30.129335
WHA              30.129335
HTR              17.573048
HTAG             17.573048
HTHG             17.573048
AwayTeam          8.373388
HomeTeam          8.373388
FTR               7.956257
FTHG              7.956257
FTAG              7.956257
Date              7.955458
Div               7.955458
Division          0.000000
Competition       0.000000
Season            0.000000
dtype: float64

In [70]:
# Identificar columnas con alta presencia de NaN (por ejemplo, más del 50%)
umbral = 50
cols_muchos_nan = nan_percent[nan_percent > umbral].index.tolist()
cols_muchos_nan

['Time',
 '1XBA',
 '1XBCA',
 '1XBCD',
 '1XBCH',
 '1XBD',
 '1XBH',
 'ABP',
 'AC',
 'AF',
 'AFKC',
 'AHCh',
 'AHW',
 'AHh',
 'AO',
 'AS',
 'AST',
 'AT',
 'Attendance',
 'Avg<2.5',
 'Avg>2.5',
 'AvgA',
 'AvgAHA',
 'AvgAHH',
 'AvgC<2.5',
 'AvgC>2.5',
 'AvgCA',
 'AvgCAHA',
 'AvgCAHH',
 'AvgCD',
 'AvgCH',
 'AvgD',
 'AvgH',
 'B365<2.5',
 'B365>2.5',
 'B365AH',
 'B365AHA',
 'B365AHH',
 'B365C<2.5',
 'B365C>2.5',
 'B365CA',
 'B365CAHA',
 'B365CAHH',
 'B365CD',
 'B365CH',
 'BFA',
 'BFCA',
 'BFCD',
 'BFCH',
 'BFD',
 'BFDA',
 'BFDCA',
 'BFDCD',
 'BFDCH',
 'BFDD',
 'BFDH',
 'BFE<2.5',
 'BFE>2.5',
 'BFEA',
 'BFEAHA',
 'BFEAHH',
 'BFEC<2.5',
 'BFEC>2.5',
 'BFECA',
 'BFECAHA',
 'BFECAHH',
 'BFECD',
 'BFECH',
 'BFED',
 'BFEH',
 'BFH',
 'BMGMA',
 'BMGMCA',
 'BMGMCD',
 'BMGMCH',
 'BMGMD',
 'BMGMH',
 'BSA',
 'BSD',
 'BSH',
 'BVA',
 'BVCA',
 'BVCD',
 'BVCH',
 'BVD',
 'BVH',
 'BWCA',
 'BWCD',
 'BWCH',
 'Bb1X2',
 'BbAH',
 'BbAHh',
 'BbAv<2.5',
 'BbAv>2.5',
 'BbAvA',
 'BbAvAHA',
 'BbAvAHH',
 'BbAvD',
 'BbAvH',
 'BbMx<2.5',
 'BbMx>2.5',
 'BbMxA',
 'BbMxAHA',
 'BbMxAHH',
 'BbMxD',
 'BbMxH',
 'BbOU',
 'CLA',
 'CLCA',
 'CLCD',
 'CLCH',
 'CLD',
 'CLH',
 'GB<2.5',
 'GB>2.5',
 'GBA',
 'GBAH',
 'GBAHA',
 'GBAHH',
 'GBD',
 'GBH',
 'HBP',
 'HC',
 'HF',
 'HFKC',
 'HHW',
 'HO',
 'HS',
 'HST',
 'HT',
 'IWCA',
 'IWCD',
 'IWCH',
 'LB',
 'LB.1',
 'LB.2',
 'LBA',
 'LBAH',
 'LBAHA',
 'LBAHH',
 'LBCA',
 'LBCD',
 'LBCH',
 'LBD',
 'LBH',
 'Max<2.5',
 'Max>2.5',
 'MaxA',
 'MaxAHA',
 'MaxAHH',
 'MaxC<2.5',
 'MaxC>2.5',
 'MaxCA',
 'MaxCAHA',
 'MaxCAHH',
 'MaxCD',
 'MaxCH',
 'MaxD',
 'MaxH',
 'P<2.5',
 'P>2.5',
 'PAHA',
 'PAHH',
 'PC<2.5',
 'PC>2.5',
 'PCAHA',
 'PCAHH',
 'PSA',
 'PSCA',
 'PSCD',
 'PSCH',
 'PSD',
 'PSH',
 'Referee',
 'SBA',
 'SBD',
 'SBH',
 'SJA',
 'SJD',
 'SJH',
 'SOA',
 'SOD',
 'SOH',
 'SYA',
 'SYD',
 'SYH',
 'Unnamed: 10',
 'Unnamed: 105',
 'Unnamed: 106',
 'Unnamed: 11',
 'Unnamed: 119',
 'Unnamed: 12',
 'Unnamed: 120',
 'Unnamed: 121',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 'Unnamed: 29',
 'Unnamed: 30',
 'Unnamed: 31',
 'Unnamed: 32',
 'Unnamed: 33',
 'Unnamed: 34',
 'Unnamed: 35',
 'Unnamed: 36',
 'Unnamed: 37',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Unnamed: 41',
 'Unnamed: 42',
 'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 'Unnamed: 50',
 'Unnamed: 51',
 'Unnamed: 52',
 'Unnamed: 53',
 'Unnamed: 54',
 'Unnamed: 55',
 'Unnamed: 56',
 'Unnamed: 57',
 'Unnamed: 58',
 'Unnamed: 59',
 'Unnamed: 60',
 'Unnamed: 61',
 'Unnamed: 62',
 'Unnamed: 7',
 'Unnamed: 70',
 'Unnamed: 71',
 'Unnamed: 72',
 'Unnamed: 8',
 'Unnamed: 9',
 'VCCA',
 'VCCD',
 'VCCH',
 'WHCA',
 'WHCD',
 'WHCH']

In [71]:
# Eliminar columnas innecesarias o irrelevantes
df_simplificado = df.drop(columns=cols_muchos_nan)
# Aquí podrías añadir manualmente otras columnas a eliminar si lo consideras necesario, por ejemplo:
# df_simplificado = df_simplificado.drop(columns=['columna_irrelevante1', 'columna_irrelevante2'])

In [72]:
# Mostrar el dataset simplificado
df_simplificado.head()

,Season,Division,Competition,Div,Date,HomeTeam,AwayTeam,AR,AY,B365A,B365D,B365H,BWA,BWD,BWH,FTAG,FTHG,FTR,HR,HTAG,HTHG,HTR,HY,IWA,IWD,IWH,VCA,VCD,VCH,WHA,WHD,WHH
0,00-01,1,belgian_pro_league,B1,12/08/00,Beveren,Charleroi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,A,NaN,1.0,1.0,D,NaN,2.90,3.0,2.00,NaN,NaN,NaN,2.9,3.4,2.00
1,00-01,1,belgian_pro_league,B1,12/08/00,Mechelen,Genk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,D,NaN,0.0,0.0,D,NaN,2.80,3.0,2.10,NaN,NaN,NaN,2.4,3.3,2.40
2,00-01,1,belgian_pro_league,B1,12/08/00,Louvieroise,Lokeren,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,D,NaN,0.0,0.0,D,NaN,2.35,3.0,2.35,NaN,NaN,NaN,2.4,3.3,2.40
3,00-01,1,belgian_pro_league,B1,12/08/00,Mouscron,Germinal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,H,NaN,0.0,1.0,H,NaN,3.50,3.0,1.80,NaN,NaN,NaN,NaN,NaN,NaN
4,00-01,1,belgian_pro_league,B1,12/08/00,Westerlo,Antwerp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,H,NaN,0.0,1.0,H,NaN,3.60,3.1,1.75,NaN,NaN,NaN,4.2,3.6,1.61

In [73]:
# Resumen de tipos y calidad de datos
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

summary = pd.DataFrame({
    'dtype': df_simplificado.dtypes.astype(str),
    'non_null': df_simplificado.notna().sum(),
    'nulls': df_simplificado.isna().sum(),
    'null_%': (df_simplificado.isna().mean() * 100).round(2),
    'unique': df_simplificado.nunique(dropna=True)
}).sort_index()

display(summary)

               dtype  non_null   nulls  null_%  unique
AR           float64    128537  121744   48.64       6
AY           float64    128539  121742   48.64      11
AwayTeam      object    229324   20957    8.37     811
B365A        float64    172314   77967   31.15     207
B365D        float64    172314   77967   31.15     114
B365H        float64    172314   77967   31.15     206
BWA          float64    159436   90845   36.30     336
BWD          float64    159436   90845   36.30     180
BWH          float64    159436   90845   36.30     296
Competition   object    250281       0    0.00      11
Date          object    230370   19911    7.96    9043
Div           object    230370   19911    7.96      22
Division      object    250281       0    0.00       7
FTAG         float64    230368   19913    7.96      11
FTHG         float64    230368   19913    7.96      11
FTR           object    230368   19913    7.96       3
HR           float64    128539  121742   48.64       4
HTAG         float64    206299   43982   17.57       8
HTHG         float64    206299   43982   17.57       8
HTR           object    206299   43982   17.57       3
HY           float64    128538  121743   48.64      12
HomeTeam      object    229324   20957    8.37     820
IWA          float64    168887   81394   32.52     256
IWD          float64    168891   81390   32.52     143
IWH          float64    168891   81390   32.52     224
Season        object    250281       0    0.00      33
VCA          float64    145811  104470   41.74     176
VCD          float64    145810  104471   41.74     106
VCH          float64    145811  104470   41.74     174
WHA          float64    174873   75408   30.13     214
WHD          float64    174873   75408   30.13     122
WHH          float64    174873   75408   30.13     187

# Resumen de columnas de df_simplificado

Este resumen describe las columnas presentes tras eliminar variables con >50% de NaN.

- Season: temporada (formato año o rango)
- Division: categoría de la liga (nivel competitivo)
- Competition: nombre de la competición/país-liga
- Div: código/abreviatura de la división (p. ej., D1, E0)
- Date: fecha del partido
- HomeTeam: equipo local
- AwayTeam: equipo visitante
- FTHG: goles del equipo local al final del partido
- FTAG: goles del equipo visitante al final del partido
- FTR: resultado final (H=local, D=empate, A=visita)
- HTHG: goles del equipo local al descanso
- HTAG: goles del equipo visitante al descanso
- HTR: resultado al descanso (H/D/A)
- HY: tarjetas amarillas del equipo local
- HR: tarjetas rojas del equipo local
- AY: tarjetas amarillas del equipo visitante
- AR: tarjetas rojas del equipo visitante
- B365H/B365D/B365A: cuotas Bet365 local/empate/visita
- BWH/BWD/BWA: cuotas Bwin local/empate/visita
- WHH/WHD/WHA: cuotas William Hill local/empate/visita
- VCH/VCD/VCA: cuotas Victor Chandler local/empate/visita
- IWH/IWD/IWA: cuotas Interwetten local/empate/visita

In [74]:
# Resumen de tipos y calidad de datos
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

summary = pd.DataFrame({
    'dtype': df_simplificado.dtypes.astype(str),
    'non_null': df_simplificado.notna().sum(),
    'nulls': df_simplificado.isna().sum(),
    'null_%': (df_simplificado.isna().mean() * 100).round(2),
    'unique': df_simplificado.nunique(dropna=True)
}).sort_index()

display(summary)

               dtype  non_null   nulls  null_%  unique
AR           float64    128537  121744   48.64       6
AY           float64    128539  121742   48.64      11
AwayTeam      object    229324   20957    8.37     811
B365A        float64    172314   77967   31.15     207
B365D        float64    172314   77967   31.15     114
B365H        float64    172314   77967   31.15     206
BWA          float64    159436   90845   36.30     336
BWD          float64    159436   90845   36.30     180
BWH          float64    159436   90845   36.30     296
Competition   object    250281       0    0.00      11
Date          object    230370   19911    7.96    9043
Div           object    230370   19911    7.96      22
Division      object    250281       0    0.00       7
FTAG         float64    230368   19913    7.96      11
FTHG         float64    230368   19913    7.96      11
FTR           object    230368   19913    7.96       3
HR           float64    128539  121742   48.64       4
HTAG         float64    206299   43982   17.57       8
HTHG         float64    206299   43982   17.57       8
HTR           object    206299   43982   17.57       3
HY           float64    128538  121743   48.64      12
HomeTeam      object    229324   20957    8.37     820
IWA          float64    168887   81394   32.52     256
IWD          float64    168891   81390   32.52     143
IWH          float64    168891   81390   32.52     224
Season        object    250281       0    0.00      33
VCA          float64    145811  104470   41.74     176
VCD          float64    145810  104471   41.74     106
VCH          float64    145811  104470   41.74     174
WHA          float64    174873   75408   30.13     214
WHD          float64    174873   75408   30.13     122
WHH          float64    174873   75408   30.13     187

Vamos a intentar rellenar nulos de las cuotas, ya que son muy importantes. La casa de apuestas es indiferente, ya que todas tendrás cuotas similares. La idea es quedarnos solo con una casa de apuestas y rellenar los nulos de esas columnas con otras cuotas quesí vengan informados, priorizaremos la casa de apuestas B365

In [75]:
# Vista previa de cambios en cuotas (antes de aplicar prioridad B365)
import numpy as np
import pandas as pd

houses = {
    'H': {'primary': 'B365H', 'others': ['BWH', 'WHH', 'VCH', 'IWH']},
    'D': {'primary': 'B365D', 'others': ['BWD', 'WHD', 'VCD', 'IWD']},
    'A': {'primary': 'B365A', 'others': ['BWA', 'WHA', 'VCA', 'IWA']},
}

def to_numeric_if_exists(df, col):
    if col in df.columns:
        return pd.to_numeric(df[col], errors='coerce')
    return pd.Series(np.nan, index=df.index)

def coalesce_with_primary(df, primary, others):
    base = to_numeric_if_exists(df, primary)
    out = base.copy() if base is not None else pd.Series(np.nan, index=df.index)
    for c in others:
        s = to_numeric_if_exists(df, c)
        out = out.fillna(s)
    return out

def first_nonnull_source_with_primary(df, primary, others):
    candidates = [primary] + others
    src = pd.Series(None, index=df.index, dtype=object)
    for c in candidates:
        s = to_numeric_if_exists(df, c)
        mask = s.notna()
        src = src.mask(mask & src.isna(), c)
    return src

def build_preview_for(outcome):
    primary = houses[outcome]['primary']
    others = houses[outcome]['others']
    before = to_numeric_if_exists(df_simplificado, primary)
    after = coalesce_with_primary(df_simplificado, primary, others)
    src = first_nonnull_source_with_primary(df_simplificado, primary, others)
    changed = ((before.isna() & after.notna()) | ((before.notna()) & (after.notna()) & (before != after)))
    cols_ctx = [c for c in ['Season','Competition','Date','HomeTeam','AwayTeam'] if c in df_simplificado.columns]
    preview = df_simplificado.loc[changed, cols_ctx].copy()
    preview['Outcome'] = outcome
    preview[f'BEFORE_{outcome}'] = before[changed]
    preview[f'AFTER_{outcome}'] = after[changed]
    preview[f'SOURCE_{outcome}'] = src[changed]
    return preview.head(10)

preview_frames = []
for oc in ['H','D','A']:
    preview_frames.append(build_preview_for(oc))
preview_changes = pd.concat(preview_frames, ignore_index=True)
display(preview_changes)

,Season,Competition,Date,HomeTeam,AwayTeam,Outcome,BEFORE_H,AFTER_H,SOURCE_H,BEFORE_D,AFTER_D,SOURCE_D,BEFORE_A,AFTER_A,SOURCE_A
0,00-01,belgian_pro_league,12/08/00,Beveren,Charleroi,H,NaN,2.00,WHH,NaN,NaN,NaN,NaN,NaN,NaN
1,00-01,belgian_pro_league,12/08/00,Mechelen,Genk,H,NaN,2.40,WHH,NaN,NaN,NaN,NaN,NaN,NaN
2,00-01,belgian_pro_league,12/08/00,Louvieroise,Lokeren,H,NaN,2.40,WHH,NaN,NaN,NaN,NaN,NaN,NaN
3,00-01,belgian_pro_league,12/08/00,Mouscron,Germinal,H,NaN,1.80,IWH,NaN,NaN,NaN,NaN,NaN,NaN
4,00-01,belgian_pro_league,12/08/00,Westerlo,Antwerp,H,NaN,1.61,WHH,NaN,NaN,NaN,NaN,NaN,NaN
5,00-01,belgian_pro_league,13/08/00,Aalst,Lierse,H,NaN,2.40,WHH,NaN,NaN,NaN,NaN,NaN,NaN
6,00-01,belgian_pro_league,13/08/00,Club Brugge,Gent,H,NaN,1.61,WHH,NaN,NaN,NaN,NaN,NaN,NaN
7,00-01,belgian_pro_league,13/08/00,Harelbeke,Standard,H,NaN,2.60,WHH,NaN,NaN,NaN,NaN,NaN,NaN
8,00-01,belgian_pro_league,13/08/00,St Truiden,Anderlecht,H,NaN,3.80,WHH,NaN,NaN,NaN,NaN,NaN,NaN
9,00-01,belgian_pro_league,19/08/00,Gent,Mechelen,H,NaN,1.50,WHH,NaN,NaN,NaN,NaN,NaN,NaN
10,00-01,belgian_pro_league,12/08/00,Beveren,Charleroi,D,NaN,NaN,NaN,NaN,3.40,WHD,NaN,NaN,NaN
11,00-01,belgian_pro_league,12/08/00,Mechelen,Genk,D,NaN,NaN,NaN,NaN,3.30,WHD,NaN,NaN,NaN
12,00-01,belgian_pro_league,12/08/00,Louvieroise,Lokeren,D,NaN,NaN,NaN,NaN,3.30,WHD,NaN,NaN,NaN
13,00-01,belgian_pro_league,12/08/00,Mouscron,Germinal,D,NaN,NaN,NaN,NaN,3.00,IWD,NaN,NaN,NaN
14,00-01,belgian_pro_league,12/08/00,Westerlo,Antwerp,D,NaN,NaN,NaN,NaN,3.60,WHD,NaN,NaN,NaN
15,00-01,belgian_pro_league,13/08/00,Aalst,Lierse,D,NaN,NaN,NaN,NaN,3.30,WHD,NaN,NaN,NaN
16,00-01,belgian_pro_league,13/08/00,Club Brugge,Gent,D,NaN,NaN,NaN,NaN,3.75,WHD,NaN,NaN,NaN
17,00-01,belgian_pro_league,13/08/00,Harelbeke,Standard,D,NaN,NaN,NaN,NaN,3.30,WHD,NaN,NaN,NaN
18,00-01,belgian_pro_league,13/08/00,St Truiden,Anderlecht,D,NaN,NaN,NaN,NaN,3.50,WHD,NaN,NaN,NaN
19,00-01,belgian_pro_league,19/08/00,Gent,Mechelen,D,NaN,NaN,NaN,NaN,3.60,WHD,NaN,NaN,NaN
20,00-01,belgian_pro_league,12/08/00,Beveren,Charleroi,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.90,WHA
21,00-01,belgian_pro_league,12/08/00,Mechelen,Genk,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.40,WHA
22,00-01,belgian_pro_league,12/08/00,Louvieroise,Lokeren,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.40,WHA
23,00-01,belgian_pro_league,12/08/00,Mouscron,Germinal,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.50,IWA
24,00-01,belgian_pro_league,12/08/00,Westerlo,Antwerp,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.20,WHA
25,00-01,belgian_pro_league,13/08/00,Aalst,Lierse,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.40,WHA
26,00-01,belgian_pro_league,13/08/00,Club Brugge,Gent,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.00,WHA
27,00-01,belgian_pro_league,13/08/00,Harelbeke,Standard,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.25,WHA
28,00-01,belgian_pro_league,13/08/00,St Truiden,Anderlecht,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.70,WHA
29,00-01,belgian_pro_league,19/08/00,Gent,Mechelen,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.20,WHA

In [76]:
# Relleno de nulos en cuotas priorizando Bet365
import numpy as np
import pandas as pd

# Conjunto de columnas por resultado
houses = {
    'H': {
        'primary': 'B365H',
        'others': ['BWH', 'WHH', 'VCH', 'IWH']
    },
    'D': {
        'primary': 'B365D',
        'others': ['BWD', 'WHD', 'VCD', 'IWD']
    },
    'A': {
        'primary': 'B365A',
        'others': ['BWA', 'WHA', 'VCA', 'IWA']
    }
}

# Función: convierte columnas a numérico (si existen)
def to_numeric_if_exists(df, col):
    if col in df.columns:
        return pd.to_numeric(df[col], errors='coerce')
    return pd.Series(np.nan, index=df.index)

# Función: coalesce priorizando 'primary'; si está nulo, toma la primera disponible de 'others'.
# Nota: el orden de 'others' es arbitrario (sin prioridad específica).
def coalesce_with_primary(df, primary, others):
    base = to_numeric_if_exists(df, primary)
    out = base.copy() if base is not None else pd.Series(np.nan, index=df.index)
    for c in others:
        s = to_numeric_if_exists(df, c)
        out = out.fillna(s)
    return out

# Fuente de la primera cuota no nula usada

def first_nonnull_source_with_primary(df, primary, others):
    candidates = [primary] + others
    src = pd.Series(None, index=df.index, dtype=object)
    for c in candidates:
        s = to_numeric_if_exists(df, c)
        mask = s.notna()
        src = src.mask(mask & src.isna(), c)
    return src

# Construir ODDS_* y sus fuentes priorizando Bet365
for outcome, cfg in houses.items():
    primary = cfg['primary']
    others = cfg['others']
    df_simplificado[f'ODDS_{outcome}'] = coalesce_with_primary(df_simplificado, primary, others)
    df_simplificado[f'ODDS_SOURCE_{outcome}'] = first_nonnull_source_with_primary(df_simplificado, primary, others)

# Rellenar específicamente las columnas Bet365 cuando estén nulas
for outcome, cfg in houses.items():
    primary = cfg['primary']
    if primary in df_simplificado.columns:
        df_simplificado[primary] = to_numeric_if_exists(df_simplificado, primary)
        df_simplificado[primary] = df_simplificado[primary].fillna(df_simplificado[f'ODDS_{outcome}'])

# Resumen de nulos y cobertura
cols_report = ['B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'IWH', 'IWD', 'IWA',
               'ODDS_H', 'ODDS_D', 'ODDS_A', 'ODDS_SOURCE_H', 'ODDS_SOURCE_D', 'ODDS_SOURCE_A']
existentes = [c for c in cols_report if c in df_simplificado.columns]

nulls = df_simplificado[existentes].isna().sum().sort_index()
coverage = (1 - df_simplificado[['ODDS_H','ODDS_D','ODDS_A']].isna().mean()) * 100

print('Nulos por columna (tras relleno con prioridad B365):')
print(nulls)
print('\nCobertura ODDS_% (no nulos) con prioridad B365:')
print(coverage.round(2))

# Top fuente usada para ODDS_H
if 'ODDS_SOURCE_H' in df_simplificado.columns:
    top_src = df_simplificado['ODDS_SOURCE_H'].value_counts(dropna=True).head(5)
    print('\nTop fuentes para ODDS_H:')
    print(top_src)

# Eliminar columnas de casas de apuestas y fuentes, quedarnos solo con ODDS
cols_houses = ['B365H','B365D','B365A','BWH','BWD','BWA','WHH','WHD','WHA','VCH','VCD','VCA','IWH','IWD','IWA']
cols_sources = ['ODDS_SOURCE_H','ODDS_SOURCE_D','ODDS_SOURCE_A']
cols_to_drop = [c for c in (cols_houses + cols_sources) if c in df_simplificado.columns]

if cols_to_drop:
    df_simplificado.drop(columns=cols_to_drop, inplace=True)

print('\nColumnas finales en df_simplificado:')
print(list(df_simplificado.columns))

Nulos por columna (tras relleno con prioridad B365):
B365A             63568
B365D             63568
B365H             63568
BWA               90845
BWD               90845
BWH               90845
IWA               81394
IWD               81390
IWH               81390
ODDS_A            63568
ODDS_D            63568
ODDS_H            63568
ODDS_SOURCE_A     63568
ODDS_SOURCE_D     63568
ODDS_SOURCE_H     63568
VCA              104470
VCD              104471
VCH              104470
WHA               75408
WHD               75408
WHH               75408
dtype: int64

Cobertura ODDS_% (no nulos) con prioridad B365:
ODDS_H    74.6
ODDS_D    74.6
ODDS_A    74.6
dtype: float64

Top fuentes para ODDS_H:
ODDS_SOURCE_H
B365H    172314
WHH       12106
IWH        1983
BWH         292
VCH          18
Name: count, dtype: int64

Columnas finales en df_simplificado:
['Season', 'Division', 'Competition', 'Div', 'Date', 'HomeTeam', 'AwayTeam', 'AR', 'AY', 'FTAG', 'FTHG', 'FTR', 'HR', 'HTAG', 'HTHG', 'HTR', 'HY', 'ODDS_H', 'ODDS_D', 'ODDS_A']

In [77]:
# Muestra aleatoria de La Liga (temporadas recientes)
import numpy as np
import pandas as pd

# Helper: convertir Season a año base (primer año de la temporada)
def season_to_year(season):
    s = str(season)
    # Buscar año de 4 dígitos
    import re
    m4 = re.search(r"(19|20)\d{2}", s)
    if m4:
        return int(m4.group(0))
    # Buscar dos dígitos
    m2 = re.search(r"\b(\d{2})\b", s)
    if m2:
        yy = int(m2.group(1))
        return 1900 + yy if yy >= 90 else 2000 + yy
    return np.nan

# Filtros por competición y división
comp_ok = df_simplificado['Competition'].astype(str).str.lower().str.contains('la liga|laliga|la_liga', regex=True) if 'Competition' in df_simplificado.columns else pd.Series(False, index=df_simplificado.index)
div_ok = df_simplificado['Div'].astype(str).str.upper().isin(['SP1']) if 'Div' in df_simplificado.columns else pd.Series(False, index=df_simplificado.index)

years = df_simplificado['Season'].apply(season_to_year) if 'Season' in df_simplificado.columns else pd.Series(np.nan, index=df_simplificado.index)
recent_ok = years >= 2018

mask = (comp_ok | div_ok) & recent_ok
subset = df_simplificado.loc[mask].copy()

if subset.empty:
    print('No se encontraron partidos de La Liga en temporadas recientes (>=2018).')
else:
    cols_view = [c for c in ['Season','Date','Competition','Div','HomeTeam','AwayTeam','FTHG','FTAG','FTR','ODDS_H','ODDS_D','ODDS_A'] if c in subset.columns]
    n = min(10, len(subset))
    rng_state = np.random.RandomState()
    sample = subset.sample(n, random_state=rng_state.randint(0, 1_000_000))
    display(sample[cols_view])
    # Mini-resumen de cobertura de cuotas en el subset
    cov = (1 - sample[['ODDS_H','ODDS_D','ODDS_A']].isna().mean()) * 100
    print('\nCobertura de cuotas en la muestra (% no nulos):')
    print(cov.round(2))

,Season,Date,Competition,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,ODDS_H,ODDS_D,ODDS_A
49195,19-20,09/11/2019,la_liga,SP1,Alaves,Valladolid,3.0,0.0,H,2.40,3.00,3.40
65026,22-23,30/04/2023,la_liga,SP2,Zaragoza,Las Palmas,1.0,1.0,D,2.63,3.00,3.00
65916,24-25,13/04/2025,la_liga,SP2,Santander,Castellon,1.0,1.0,D,2.00,3.60,3.50
49098,19-20,31/08/2019,la_liga,SP1,Getafe,Alaves,1.0,1.0,D,1.72,3.40,5.75
50235,22-23,26/08/2022,la_liga,SP1,Girona,Celta,0.0,1.0,A,2.80,3.10,2.75
50387,22-23,21/01/2023,la_liga,SP1,Sevilla,Cadiz,1.0,0.0,H,1.70,3.75,5.00
48744,18-19,25/09/2018,la_liga,SP1,Ath Madrid,Huesca,3.0,0.0,H,1.22,6.00,15.00
50210,21-22,22/05/2022,la_liga,SP1,Granada,Espanol,0.0,0.0,D,1.44,4.33,7.50
64701,22-23,08/10/2022,la_liga,SP2,Ponferradina,Granada,0.0,0.0,D,3.00,3.30,2.37
50555,22-23,19/05/2023,la_liga,SP1,Cadiz,Valladolid,2.0,0.0,H,2.20,3.40,3.30

Cobertura de cuotas en la muestra (% no nulos):
ODDS_H    100.0
ODDS_D    100.0
ODDS_A    100.0
dtype: float64

In [78]:
# Resumen de tipos y calidad de datos
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

summary = pd.DataFrame({
    'dtype': df_simplificado.dtypes.astype(str),
    'non_null': df_simplificado.notna().sum(),
    'nulls': df_simplificado.isna().sum(),
    'null_%': (df_simplificado.isna().mean() * 100).round(2),
    'unique': df_simplificado.nunique(dropna=True)
}).sort_index()

display(summary)

               dtype  non_null   nulls  null_%  unique
AR           float64    128537  121744   48.64       6
AY           float64    128539  121742   48.64      11
AwayTeam      object    229324   20957    8.37     811
Competition   object    250281       0    0.00      11
Date          object    230370   19911    7.96    9043
Div           object    230370   19911    7.96      22
Division      object    250281       0    0.00       7
FTAG         float64    230368   19913    7.96      11
FTHG         float64    230368   19913    7.96      11
FTR           object    230368   19913    7.96       3
HR           float64    128539  121742   48.64       4
HTAG         float64    206299   43982   17.57       8
HTHG         float64    206299   43982   17.57       8
HTR           object    206299   43982   17.57       3
HY           float64    128538  121743   48.64      12
HomeTeam      object    229324   20957    8.37     820
ODDS_A       float64    186713   63568   25.40     247
ODDS_D       float64    186713   63568   25.40     133
ODDS_H       float64    186713   63568   25.40     231
Season        object    250281       0    0.00      33

Ahora vamos a analizar los partidos de los que no tenemos resultados. Es decir, variables no informadas en FTAG, FTHG y FTR

In [79]:
# Analizar y eliminar grupos con resultados no informados (FTAG, FTHG, FTR)
import numpy as np
import pandas as pd

# Preparar chequeos robustos para FTHG, FTAG y FTR
FTHG_num = pd.to_numeric(df_simplificado['FTHG'], errors='coerce') if 'FTHG' in df_simplificado.columns else pd.Series(np.nan, index=df_simplificado.index)
FTAG_num = pd.to_numeric(df_simplificado['FTAG'], errors='coerce') if 'FTAG' in df_simplificado.columns else pd.Series(np.nan, index=df_simplificado.index)

if 'FTR' in df_simplificado.columns:
    FTR_clean = df_simplificado['FTR'].astype(str).str.strip()
    FTR_clean = FTR_clean.replace({'': np.nan})
    FTR_valid = FTR_clean.str.upper().where(FTR_clean.str.upper().isin(['H','D','A']))
else:
    FTR_valid = pd.Series(np.nan, index=df_simplificado.index)

# Un partido está "no informado" si falta cualquiera de FTHG, FTAG o FTR
uninformed = (
    FTHG_num.isna() |
    FTAG_num.isna() |
    FTR_valid.isna()
)

# Elegir columnas de agrupación (Division preferida; si no, Div)
group_cols = []
if 'Division' in df_simplificado.columns:
    group_cols.append('Division')
elif 'Div' in df_simplificado.columns:
    group_cols.append('Div')
if 'Competition' in df_simplificado.columns:
    group_cols.append('Competition')
if 'Season' in df_simplificado.columns:
    group_cols.append('Season')

if not group_cols:
    print('No hay columnas adecuadas para agrupar (Division/Div, Competition, Season).')
else:
    # Añadir bandera al dataframe para agregaciones
    df_simplificado['__uninformed'] = uninformed

    # Resumen por grupo: total y no informados
    summary = df_simplificado.groupby(group_cols, dropna=False)['__uninformed'].agg(total='size', uninformed_count='sum')
    summary['uninformed_ratio'] = (summary['uninformed_count'] / summary['total']).round(4)

    # Mostrar únicamente los grupos con algún partido no informado
    summary_to_display = summary[summary['uninformed_count'] > 0].sort_values(['uninformed_ratio','uninformed_count'], ascending=False)
    print('Resumen de grupos con partidos no informados (ordenados por ratio y cantidad):')
    display(summary_to_display)

    # También mostrar ejemplos de registros no informados por grupo (vista compacta)
    cols_ctx = [c for c in ['Season','Competition','Division','Div','Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR'] if c in df_simplificado.columns]
    sample_uninformed = df_simplificado.loc[df_simplificado['__uninformed'], cols_ctx].copy()
    print('\nMuestra (hasta 30 filas) de partidos no informados:')
    display(sample_uninformed.head(30))

    # Umbral: eliminar grupos que superen el 10% de partidos no informados
    ratio_threshold = 0.10
    high_missing_groups = summary[summary['uninformed_ratio'] > ratio_threshold].reset_index()

    # Construir máscara de filas a eliminar usando clave compuesta robusta (manejo de NaN)
    def build_composite_key(df_like, cols):
        if df_like.empty:
            return pd.Series([], dtype=object)
        tmp = df_like[cols].copy()
        for c in cols:
            tmp[c] = tmp[c].astype(str).where(tmp[c].notna(), '<<NA>>')
        return tmp.apply(lambda r: tuple(r.values.tolist()), axis=1)

    keys_df = build_composite_key(df_simplificado, group_cols)
    keys_remove = set(build_composite_key(high_missing_groups, group_cols))
    remove_mask = keys_df.isin(keys_remove)

    # Reporte de grupos eliminados
    removed_groups_report = []
    if not high_missing_groups.empty:
        for _, row in high_missing_groups.iterrows():
            removed_groups_report.append({
                'reason': '>10% no informados',
                'Season': row.get('Season', None),
                'Competition': row.get('Competition', None),
                'Division': row.get('Division', row.get('Div', None)),
                'total': int(row['total']),
                'uninformed_count': int(row['uninformed_count']),
                'uninformed_ratio': float(row['uninformed_ratio'])
            })

    # Aplicar borrados
    before_rows = len(df_simplificado)
    if remove_mask.any():
        df_simplificado = df_simplificado.loc[~remove_mask].copy()
        print(f"\nSe eliminaron {remove_mask.sum()} filas de grupos con >10% de partidos no informados.")
    else:
        print('\nNo se eliminaron filas: no hay grupos con >10% no informados.')

    # Mostrar qué Season y Competition se han borrado
    if removed_groups_report:
        removed_df = pd.DataFrame(removed_groups_report)
        print('\nGrupos eliminados (Season, Competition, Division y motivo):')
        display(removed_df[['reason','Season','Competition','Division','total','uninformed_count','uninformed_ratio']])
        # Listado simple solicitado (Season y Competition)
        removed_pairs = removed_df[['Season','Competition']].drop_duplicates()
        print('\nSeason y Competition eliminados por no estar informados (>10%):')
        display(removed_pairs)
    else:
        print('\nNo se eliminaron grupos completos por falta de información (>10%).')

    # Limpiar columnas auxiliares si existiesen en el dataframe resultante
    aux_cols = [c for c in ['__uninformed'] if c in df_simplificado.columns]
    if aux_cols:
        df_simplificado.drop(columns=aux_cols, inplace=True)

    # Resumen final
    after_rows = len(df_simplificado)
    print(f"\nFilas antes: {before_rows} | Filas después: {after_rows}")
    print('Columnas actuales en df_simplificado:')
    print(list(df_simplificado.columns))

Resumen de grupos con partidos no informados (ordenados por ratio y cantidad):

                                      total  uninformed_count  \
Division Competition          Season
0        scottish_premiership 94-95     552               372
                              95-96     552               372
                              96-97     552               372
                              99-00     552               372
1        scottish_premiership 94-95     552               372
                              95-96     552               372
                              96-97     552               372
                              97-98     552               372
                              98-99     552               372
                              99-00     552               372
2        scottish_premiership 97-98     552               372
                              98-99     552               372
                              99-00     552               372
3        scottish_premiership 97-98     552               372
                              98-99     552               372
                              99-00     552               372
1        belgian_pro_league   95-96     552               246
                              96-97     552               246
                              98-99     552               246
                              99-00     552               246
         bundesliga           93-94     552               246
                              94-95     552               246
                              95-96     552               246
                              96-97     552               246
                              99-00     552               246
         eredivisie           93-94     552               246
                              94-95     552               246
                              95-96     552               246
                              96-97     552               246
                              98-99     552               246
                              99-00     552               246
         ligue_1              98-99     552               246
                              99-00     552               246
         primeira_liga        94-95     552               246
                              95-96     552               246
                              96-97     552               246
                              98-99     552               246
                              99-00     552               246
         serie_a              93-94     552               246
                              94-95     552               246
                              95-96     552               246
                              96-97     552               246
                              99-00     552               246
         superliga_griega     94-95     552               246
                              95-96     552               246
                              96-97     552               246
                              97-98     552               246
                              98-99     552               246
                              99-00     552               246
         superliga_turca      94-95     552               246
                              95-96     552               246
                              96-97     552               246
                              98-99     552               246
                              99-00     552               246
2        bundesliga           94-95     552               246
                              95-96     552               246
                              96-97     552               246
                              99-00     552               246
0        premier_ligue        95-96     552               172
                              96-97     552               172
                              99-00     552               172
1        la_liga              93-94     552               172
                              94-95     552               172
                              99-00     552               172
         ligue_1              93-94     552               172
                              94-95     552               172
                              95-96     552               172
                              96-97     552               172
2        bundesliga           93-94     552               172
         la_liga              96-97     552               172
         ligue_1              98-99     552               172
                              99-00     552               172
         serie_a              99-00     552               172
1        superliga_griega     01-02     240                58
3        scottish_premiership 03-04     133                22
0        premier_ligue        93-94     552                90
                              94-95     552                90
1        la_liga              95-96     552                90
                              96-97     552                90
2        la_liga              99-00     552                90
         ligue_1              96-97     552                90
                              97-98     552                90
3        premier_ligue        93-94     552                90
                              94-95     552                90
1        superliga_griega     14-15     352                47
2        scottish_premiership 03-04     205                25
1        superliga_griega     15-16     252                12
         serie_a              02-03     315                 9
         superliga_griega     13-14     314                 8
         superliga_turca      15-16     311                 5
EC       premier_ligue        14-15     559                 7
1        scottish_premiership 14-15     182                 2
2        serie_a              12-13     467                 5
1        eredivisie           12-13     309                 3
         serie_a              12-13     383                 3
         superliga_turca      13-14     308                 2
         scottish_premiership 01-02     181                 1
2        scottish_premiership 01-02     181                 1
EC       premier_ligue        13-14     555                 3
2        la_liga              12-13     464                 2
         serie_a              14-15     464                 2
1        superliga_griega     18-19     240                 1
         primeira_liga        12-13     241                 1
         superliga_griega     12-13     241                 1
3        premier_ligue        12-13     554                 2
1        bundesliga           02-03     291                 1
         primeira_liga        14-15     307                 1
                              15-16     307                 1
         superliga_turca      12-13     307                 1
                              14-15     307                 1
0        premier_ligue        14-15     381                 1
1        ligue_1              13-14     381                 1
                              15-16     381                 1
         serie_a              14-15     381                 1
                              15-16     381                 1
2        ligue_1              12-13     381                 1
         la_liga              13-14     463                 1
         serie_a              13-14     463                 1
1        premier_ligue        14-15     553                 1
2        premier_ligue        12-13     553                 1
                              15-16     553                 1
3        premier_ligue        15-16     553                 1

                                      uninformed_ratio
Division Competition          Season
0        scottish_premiership 94-95             0.6739
                              95-96             0.6739
                              96-97             0.6739
                              99-00             0.6739
1        scottish_premiership 94-95             0.6739
                              95-96             0.6739
                              96-97             0.6739
                              97-98             0.6739
                              98-99             0.6739
                              99-00             0.6739
2        scottish_premiership 97-98             0.6739
                              98-99             0.6739
                              99-00             0.6739
3        scottish_premiership 97-98             0.6739
                              98-99             0.6739
                              99-00             0.6739
1        belgian_pro_league   95-96             0.4457
                              96-97             0.4457
                              98-99             0.4457
                              99-00             0.4457
         bundesliga           93-94             0.4457
                              94-95             0.4457
                              95-96             0.4457
                              96-97             0.4457
                              99-00             0.4457
         eredivisie           93-94             0.4457
                              94-95             0.4457
                              95-96             0.4457
                              96-97             0.4457
                              98-99             0.4457
                              99-00             0.4457
         ligue_1              98-99             0.4457
                              99-00             0.4457
         primeira_liga        94-95             0.4457
                              95-96             0.4457
                              96-97             0.4457
                              98-99             0.4457
                              99-00             0.4457
         serie_a              93-94             0.4457
                              94-95             0.4457
                              95-96             0.4457
                              96-97             0.4457
                              99-00             0.4457
         superliga_griega     94-95             0.4457
                              95-96             0.4457
                              96-97             0.4457
                              97-98             0.4457
                              98-99             0.4457
                              99-00             0.4457
         superliga_turca      94-95             0.4457
                              95-96             0.4457
                              96-97             0.4457
                              98-99             0.4457
                              99-00             0.4457
2        bundesliga           94-95             0.4457
                              95-96             0.4457
                              96-97             0.4457
                              99-00             0.4457
0        premier_ligue        95-96             0.3116
                              96-97             0.3116
                              99-00             0.3116
1        la_liga              93-94             0.3116
                              94-95             0.3116
                              99-00             0.3116
         ligue_1              93-94             0.3116
                              94-95             0.3116
                              95-96             0.3116
                              96-97             0.3116
2        bundesliga           93-94             0.3116
         la_liga              96-97             0.3116
         ligue_1              98-99             0.3116
                              99-00             0.3116
         serie_a              99-00             0.3116
1        superliga_griega     01-02             0.2417
3        scottish_premiership 03-04             0.1654
0        premier_ligue        93-94             0.1630
                              94-95             0.1630
1        la_liga              95-96             0.1630
                              96-97             0.1630
2        la_liga              99-00             0.1630
         ligue_1              96-97             0.1630
                              97-98             0.1630
3        premier_ligue        93-94             0.1630
                              94-95             0.1630
1        superliga_griega     14-15             0.1335
2        scottish_premiership 03-04             0.1220
1        superliga_griega     15-16             0.0476
         serie_a              02-03             0.0286
         superliga_griega     13-14             0.0255
         superliga_turca      15-16             0.0161
EC       premier_ligue        14-15             0.0125
1        scottish_premiership 14-15             0.0110
2        serie_a              12-13             0.0107
1        eredivisie           12-13             0.0097
         serie_a              12-13             0.0078
         superliga_turca      13-14             0.0065
         scottish_premiership 01-02             0.0055
2        scottish_premiership 01-02             0.0055
EC       premier_ligue        13-14             0.0054
2        la_liga              12-13             0.0043
         serie_a              14-15             0.0043
1        superliga_griega     18-19             0.0042
         primeira_liga        12-13             0.0041
         superliga_griega     12-13             0.0041
3        premier_ligue        12-13             0.0036
1        bundesliga           02-03             0.0034
         primeira_liga        14-15             0.0033
                              15-16             0.0033
         superliga_turca      12-13             0.0033
                              14-15             0.0033
0        premier_ligue        14-15             0.0026
1        ligue_1              13-14             0.0026
                              15-16             0.0026
         serie_a              14-15             0.0026
                              15-16             0.0026
2        ligue_1              12-13             0.0026
         la_liga              13-14             0.0022
         serie_a              13-14             0.0022
1        premier_ligue        14-15             0.0018
2        premier_ligue        12-13             0.0018
                              15-16             0.0018
3        premier_ligue        15-16             0.0018

Muestra (hasta 30 filas) de partidos no informados:

,Season,Competition,Division,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
7009,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7010,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7011,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7012,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7013,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7014,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7015,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7016,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7017,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7018,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7019,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7020,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7021,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7022,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7023,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7024,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7025,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7026,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7027,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7028,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7029,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7030,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7031,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7032,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7033,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7034,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7035,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7036,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7037,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7038,95-96,belgian_pro_league,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Se eliminaron 46194 filas de grupos con >10% de partidos no informados.

Grupos eliminados (Season, Competition, Division y motivo):

,reason,Season,Competition,Division,total,uninformed_count,uninformed_ratio
0,>10% no informados,93-94,premier_ligue,0,552,90,0.1630
1,>10% no informados,94-95,premier_ligue,0,552,90,0.1630
2,>10% no informados,95-96,premier_ligue,0,552,172,0.3116
3,>10% no informados,96-97,premier_ligue,0,552,172,0.3116
4,>10% no informados,99-00,premier_ligue,0,552,172,0.3116
5,>10% no informados,94-95,scottish_premiership,0,552,372,0.6739
6,>10% no informados,95-96,scottish_premiership,0,552,372,0.6739
7,>10% no informados,96-97,scottish_premiership,0,552,372,0.6739
8,>10% no informados,99-00,scottish_premiership,0,552,372,0.6739
9,>10% no informados,95-96,belgian_pro_league,1,552,246,0.4457
10,>10% no informados,96-97,belgian_pro_league,1,552,246,0.4457
11,>10% no informados,98-99,belgian_pro_league,1,552,246,0.4457
12,>10% no informados,99-00,belgian_pro_league,1,552,246,0.4457
13,>10% no informados,93-94,bundesliga,1,552,246,0.4457
14,>10% no informados,94-95,bundesliga,1,552,246,0.4457
15,>10% no informados,95-96,bundesliga,1,552,246,0.4457
16,>10% no informados,96-97,bundesliga,1,552,246,0.4457
17,>10% no informados,99-00,bundesliga,1,552,246,0.4457
18,>10% no informados,93-94,eredivisie,1,552,246,0.4457
19,>10% no informados,94-95,eredivisie,1,552,246,0.4457
20,>10% no informados,95-96,eredivisie,1,552,246,0.4457
21,>10% no informados,96-97,eredivisie,1,552,246,0.4457
22,>10% no informados,98-99,eredivisie,1,552,246,0.4457
23,>10% no informados,99-00,eredivisie,1,552,246,0.4457
24,>10% no informados,93-94,la_liga,1,552,172,0.3116
25,>10% no informados,94-95,la_liga,1,552,172,0.3116
26,>10% no informados,95-96,la_liga,1,552,90,0.1630
27,>10% no informados,96-97,la_liga,1,552,90,0.1630
28,>10% no informados,99-00,la_liga,1,552,172,0.3116
29,>10% no informados,93-94,ligue_1,1,552,172,0.3116
30,>10% no informados,94-95,ligue_1,1,552,172,0.3116
31,>10% no informados,95-96,ligue_1,1,552,172,0.3116
32,>10% no informados,96-97,ligue_1,1,552,172,0.3116
33,>10% no informados,98-99,ligue_1,1,552,246,0.4457
34,>10% no informados,99-00,ligue_1,1,552,246,0.4457
35,>10% no informados,94-95,primeira_liga,1,552,246,0.4457
36,>10% no informados,95-96,primeira_liga,1,552,246,0.4457
37,>10% no informados,96-97,primeira_liga,1,552,246,0.4457
38,>10% no informados,98-99,primeira_liga,1,552,246,0.4457
39,>10% no informados,99-00,primeira_liga,1,552,246,0.4457
40,>10% no informados,94-95,scottish_premiership,1,552,372,0.6739
41,>10% no informados,95-96,scottish_premiership,1,552,372,0.6739
42,>10% no informados,96-97,scottish_premiership,1,552,372,0.6739
43,>10% no informados,97-98,scottish_premiership,1,552,372,0.6739
44,>10% no informados,98-99,scottish_premiership,1,552,372,0.6739
45,>10% no informados,99-00,scottish_premiership,1,552,372,0.6739
46,>10% no informados,93-94,serie_a,1,552,246,0.4457
47,>10% no informados,94-95,serie_a,1,552,246,0.4457
48,>10% no informados,95-96,serie_a,1,552,246,0.4457
49,>10% no informados,96-97,serie_a,1,552,246,0.4457
50,>10% no informados,99-00,serie_a,1,552,246,0.4457
51,>10% no informados,01-02,superliga_griega,1,240,58,0.2417
52,>10% no informados,14-15,superliga_griega,1,352,47,0.1335
53,>10% no informados,94-95,superliga_griega,1,552,246,0.4457
54,>10% no informados,95-96,superliga_griega,1,552,246,0.4457
55,>10% no informados,96-97,superliga_griega,1,552,246,0.4457
56,>10% no informados,97-98,superliga_griega,1,552,246,0.4457
57,>10% no informados,98-99,superliga_griega,1,552,246,0.4457
58,>10% no informados,99-00,superliga_griega,1,552,246,0.4457
59,>10% no informados,94-95,superliga_turca,1,552,246,0.4457
60,>10% no informados,95-96,superliga_turca,1,552,246,0.4457
61,>10% no informados,96-97,superliga_turca,1,552,246,0.4457
62,>10% no informados,98-99,superliga_turca,1,552,246,0.4457
63,>10% no informados,99-00,superliga_turca,1,552,246,0.4457
64,>10% no informados,93-94,bundesliga,2,552,172,0.3116
65,>10% no informados,94-95,bundesliga,2,552,246,0.4457
66,>10% no informados,95-96,bundesliga,2,552,246,0.4457
67,>10% no informados,96-97,bundesliga,2,552,246,0.4457
68,>10% no informados,99-00,bundesliga,2,552,246,0.4457
69,>10% no informados,96-97,la_liga,2,552,172,0.3116
70,>10% no informados,99-00,la_liga,2,552,90,0.1630
71,>10% no informados,96-97,ligue_1,2,552,90,0.1630
72,>10% no informados,97-98,ligue_1,2,552,90,0.1630
73,>10% no informados,98-99,ligue_1,2,552,172,0.3116
74,>10% no informados,99-00,ligue_1,2,552,172,0.3116
75,>10% no informados,03-04,scottish_premiership,2,205,25,0.1220
76,>10% no informados,97-98,scottish_premiership,2,552,372,0.6739
77,>10% no informados,98-99,scottish_premiership,2,552,372,0.6739
78,>10% no informados,99-00,scottish_premiership,2,552,372,0.6739
79,>10% no informados,99-00,serie_a,2,552,172,0.3116
80,>10% no informados,93-94,premier_ligue,3,552,90,0.1630
81,>10% no informados,94-95,premier_ligue,3,552,90,0.1630
82,>10% no informados,03-04,scottish_premiership,3,133,22,0.1654
83,>10% no informados,97-98,scottish_premiership,3,552,372,0.6739
84,>10% no informados,98-99,scottish_premiership,3,552,372,0.6739
85,>10% no informados,99-00,scottish_premiership,3,552,372,0.6739

Season y Competition eliminados por no estar informados (>10%):

   Season           Competition
0   93-94         premier_ligue
1   94-95         premier_ligue
2   95-96         premier_ligue
3   96-97         premier_ligue
4   99-00         premier_ligue
5   94-95  scottish_premiership
6   95-96  scottish_premiership
7   96-97  scottish_premiership
8   99-00  scottish_premiership
9   95-96    belgian_pro_league
10  96-97    belgian_pro_league
11  98-99    belgian_pro_league
12  99-00    belgian_pro_league
13  93-94            bundesliga
14  94-95            bundesliga
15  95-96            bundesliga
16  96-97            bundesliga
17  99-00            bundesliga
18  93-94            eredivisie
19  94-95            eredivisie
20  95-96            eredivisie
21  96-97            eredivisie
22  98-99            eredivisie
23  99-00            eredivisie
24  93-94               la_liga
25  94-95               la_liga
26  95-96               la_liga
27  96-97               la_liga
28  99-00               la_liga
29  93-94               ligue_1
30  94-95               ligue_1
31  95-96               ligue_1
32  96-97               ligue_1
33  98-99               ligue_1
34  99-00               ligue_1
35  94-95         primeira_liga
36  95-96         primeira_liga
37  96-97         primeira_liga
38  98-99         primeira_liga
39  99-00         primeira_liga
43  97-98  scottish_premiership
44  98-99  scottish_premiership
46  93-94               serie_a
47  94-95               serie_a
48  95-96               serie_a
49  96-97               serie_a
50  99-00               serie_a
51  01-02      superliga_griega
52  14-15      superliga_griega
53  94-95      superliga_griega
54  95-96      superliga_griega
55  96-97      superliga_griega
56  97-98      superliga_griega
57  98-99      superliga_griega
58  99-00      superliga_griega
59  94-95       superliga_turca
60  95-96       superliga_turca
61  96-97       superliga_turca
62  98-99       superliga_turca
63  99-00       superliga_turca
72  97-98               ligue_1
75  03-04  scottish_premiership

Filas antes: 250281 | Filas después: 204087
Columnas actuales en df_simplificado:
['Season', 'Division', 'Competition', 'Div', 'Date', 'HomeTeam', 'AwayTeam', 'AR', 'AY', 'FTAG', 'FTHG', 'FTR', 'HR', 'HTAG', 'HTHG', 'HTR', 'HY', 'ODDS_H', 'ODDS_D', 'ODDS_A']

In [80]:
# Resumen de tipos y calidad de datos
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

summary = pd.DataFrame({
    'dtype': df_simplificado.dtypes.astype(str),
    'non_null': df_simplificado.notna().sum(),
    'nulls': df_simplificado.isna().sum(),
    'null_%': (df_simplificado.isna().mean() * 100).round(2),
    'unique': df_simplificado.nunique(dropna=True)
}).sort_index()

display(summary)

               dtype  non_null  nulls  null_%  unique
AR           float64    128537  75550   37.02       6
AY           float64    128539  75548   37.02      11
AwayTeam      object    203137    950    0.47     764
Competition   object    204087      0    0.00      11
Date          object    204001     86    0.04    8339
Div           object    204001     86    0.04      22
Division      object    204087      0    0.00       7
FTAG         float64    204000     87    0.04      11
FTHG         float64    204000     87    0.04      11
FTR           object    204000     87    0.04       3
HR           float64    128539  75548   37.02       4
HTAG         float64    194179   9908    4.85       8
HTHG         float64    194179   9908    4.85       8
HTR           object    194179   9908    4.85       3
HY           float64    128538  75549   37.02      12
HomeTeam      object    203137    950    0.47     773
ODDS_A       float64    185994  18093    8.87     246
ODDS_D       float64    185994  18093    8.87     133
ODDS_H       float64    185994  18093    8.87     229
Season        object    204087      0    0.00      33

In [81]:
# Mostrar partidos con FTR no informado y resumen por grupo
import numpy as np
import pandas as pd

if 'FTR' not in df_simplificado.columns:
    print('La columna FTR no existe en df_simplificado.')
else:
    FTR_clean = df_simplificado['FTR'].astype(str).str.strip()
    FTR_clean = FTR_clean.replace({'': np.nan})
    FTR_upper = FTR_clean.str.upper()
    valid_mask = FTR_upper.isin(['H','D','A'])
    missing_mask = ~valid_mask

    cols_ctx = [c for c in ['Season','Competition','Division','Div','Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR'] if c in df_simplificado.columns]
    missing_ftr_rows = df_simplificado.loc[missing_mask, cols_ctx].copy()

    print(f"Total de partidos con FTR no informado: {len(missing_ftr_rows)}")
    display(missing_ftr_rows.head(50))

    # Resumen por grupo (Division/Div, Competition, Season)
    group_cols = []
    if 'Division' in df_simplificado.columns:
        group_cols.append('Division')
    elif 'Div' in df_simplificado.columns:
        group_cols.append('Div')
    if 'Competition' in df_simplificado.columns:
        group_cols.append('Competition')
    if 'Season' in df_simplificado.columns:
        group_cols.append('Season')

    if group_cols:
        summary_missing = missing_ftr_rows.groupby(group_cols, dropna=False).size().to_frame('missing_FTR_count').sort_values('missing_FTR_count', ascending=False)
        print('\nResumen de FTR no informado por grupo (top 20):')
        display(summary_missing.head(20))
    else:
        print('No hay columnas adecuadas para agrupar (Division/Div, Competition, Season).')

Total de partidos con FTR no informado: 87

,Season,Competition,Division,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
10119,02-03,bundesliga,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34605,12-13,eredivisie,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34606,12-13,eredivisie,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34607,12-13,eredivisie,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60451,12-13,la_liga,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60452,12-13,la_liga,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60915,13-14,la_liga,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73050,13-14,ligue_1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73811,15-16,ligue_1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85038,12-13,ligue_1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97394,14-15,premier_ligue,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112963,14-15,premier_ligue,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129125,12-13,premier_ligue,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130782,15-16,premier_ligue,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146461,12-13,premier_ligue,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146462,12-13,premier_ligue,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148119,15-16,premier_ligue,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161912,13-14,premier_ligue,EC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161913,13-14,premier_ligue,EC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161914,13-14,premier_ligue,EC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162467,14-15,premier_ligue,EC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162468,14-15,premier_ligue,EC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162469,14-15,premier_ligue,EC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162470,14-15,premier_ligue,EC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162471,14-15,premier_ligue,EC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162472,14-15,premier_ligue,EC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162473,14-15,premier_ligue,EC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171290,12-13,primeira_liga,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171837,14-15,primeira_liga,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172144,15-16,primeira_liga,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186498,01-02,scottish_premiership,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188722,14-15,scottish_premiership,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188723,14-15,scottish_premiership,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194197,01-02,scottish_premiership,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206768,02-03,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206769,02-03,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206770,02-03,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206771,02-03,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206772,02-03,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206773,02-03,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206774,02-03,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206775,02-03,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206776,02-03,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210311,12-13,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210312,12-13,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210313,12-13,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211074,14-15,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211455,15-16,serie_a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223387,12-13,serie_a,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223388,12-13,serie_a,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Resumen de FTR no informado por grupo (top 20):

                                      missing_FTR_count
Division Competition          Season
1        superliga_griega     15-16                  12
         serie_a              02-03                   9
         superliga_griega     13-14                   8
EC       premier_ligue        14-15                   7
1        superliga_turca      15-16                   5
2        serie_a              12-13                   5
EC       premier_ligue        13-14                   3
1        eredivisie           12-13                   3
         serie_a              12-13                   3
3        premier_ligue        12-13                   2
1        superliga_turca      13-14                   2
2        la_liga              12-13                   2
1        scottish_premiership 14-15                   2
2        serie_a              14-15                   2
0        premier_ligue        14-15                   1
1        bundesliga           02-03                   1
         ligue_1              13-14                   1
         primeira_liga        14-15                   1
         ligue_1              15-16                   1
         premier_ligue        14-15                   1

Eliminamos todos esos partios del dataset que no tienen informado FTR, ya que no disponemos de información en muchos campos importantes. Además, no supone una párdida muy grande de información

In [82]:
# Eliminar del dataset todos los partidos sin FTR informado
import numpy as np
import pandas as pd

if 'FTR' not in df_simplificado.columns:
    print('La columna FTR no existe en df_simplificado. No se puede filtrar.')
else:
    FTR_clean = df_simplificado['FTR'].astype(str).str.strip()
    FTR_clean = FTR_clean.replace({'': np.nan})
    FTR_upper = FTR_clean.str.upper()
    valid_mask = FTR_upper.isin(['H','D','A'])
    missing_mask = ~valid_mask

    before_rows = len(df_simplificado)
    removed_rows = int(missing_mask.sum())
    df_simplificado = df_simplificado.loc[valid_mask].copy()
    after_rows = len(df_simplificado)

    print(f"Filas antes: {before_rows}")
    print(f"Filas eliminadas por FTR no informado: {removed_rows}")
    print(f"Filas después: {after_rows}")

    # Vista rápida de columnas restantes
    print('Columnas actuales en df_simplificado:')
    print(list(df_simplificado.columns))

Filas antes: 204087
Filas eliminadas por FTR no informado: 87
Filas después: 204000
Columnas actuales en df_simplificado:
['Season', 'Division', 'Competition', 'Div', 'Date', 'HomeTeam', 'AwayTeam', 'AR', 'AY', 'FTAG', 'FTHG', 'FTR', 'HR', 'HTAG', 'HTHG', 'HTR', 'HY', 'ODDS_H', 'ODDS_D', 'ODDS_A']

In [84]:
# Resumen de tipos y calidad de datos
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

summary = pd.DataFrame({
    'dtype': df_simplificado.dtypes.astype(str),
    'non_null': df_simplificado.notna().sum(),
    'nulls': df_simplificado.isna().sum(),
    'null_%': (df_simplificado.isna().mean() * 100).round(2),
    'unique': df_simplificado.nunique(dropna=True)
}).sort_index()

display(summary)

               dtype  non_null  nulls  null_%  unique
AR           float64    128537  75463   36.99       6
AY           float64    128539  75461   36.99      11
AwayTeam      object    203136    864    0.42     764
Competition   object    204000      0    0.00      11
Date          object    204000      0    0.00    8339
Div           object    204000      0    0.00      22
Division      object    204000      0    0.00       7
FTAG         float64    204000      0    0.00      11
FTHG         float64    204000      0    0.00      11
FTR           object    204000      0    0.00       3
HR           float64    128539  75461   36.99       4
HTAG         float64    194178   9822    4.81       8
HTHG         float64    194178   9822    4.81       8
HTR           object    194178   9822    4.81       3
HY           float64    128538  75462   36.99      12
HomeTeam      object    203136    864    0.42     773
ODDS_A       float64    185993  18007    8.83     246
ODDS_D       float64    185993  18007    8.83     133
ODDS_H       float64    185993  18007    8.83     229
Season        object    204000      0    0.00      33

In [85]:
# Mostrar partidos que no tienen informados ni HomeTeam ni AwayTeam
import numpy as np
import pandas as pd

missing_cols = [c for c in ['HomeTeam','AwayTeam'] if c not in df_simplificado.columns]
if missing_cols:
    print(f"Faltan columnas en df_simplificado: {missing_cols}. No es posible filtrar.")
else:
    home_raw = df_simplificado['HomeTeam']
    away_raw = df_simplificado['AwayTeam']
    home_clean = home_raw.astype(str).str.strip()
    away_clean = away_raw.astype(str).str.strip()

    home_missing = home_raw.isna() | home_clean.eq('')
    away_missing = away_raw.isna() | away_clean.eq('')
    both_missing = home_missing & away_missing

    cols_ctx = [c for c in ['Season','Competition','Division','Div','Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR'] if c in df_simplificado.columns]
    rows_missing = df_simplificado.loc[both_missing, cols_ctx].copy()

    print(f"Total de partidos sin HomeTeam ni AwayTeam informados: {len(rows_missing)}")
    display(rows_missing.head(50))

    # Resumen por grupo (Division/Div, Competition, Season)
    group_cols = []
    if 'Division' in df_simplificado.columns:
        group_cols.append('Division')
    elif 'Div' in df_simplificado.columns:
        group_cols.append('Div')
    if 'Competition' in df_simplificado.columns:
        group_cols.append('Competition')
    if 'Season' in df_simplificado.columns:
        group_cols.append('Season')

    if group_cols and not rows_missing.empty:
        summary_missing = rows_missing.groupby(group_cols, dropna=False).size().to_frame('missing_home_away_count').sort_values('missing_home_away_count', ascending=False)
        print('\nResumen de partidos sin Home/Away por grupo (top 20):')
        display(summary_missing.head(20))
    elif rows_missing.empty:
        print('No hay registros con ambos HomeTeam y AwayTeam sin informar.')
    else:
        print('No hay columnas adecuadas para agrupar (Division/Div, Competition, Season).')

Total de partidos sin HomeTeam ni AwayTeam informados: 864

,Season,Competition,Division,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
229799,00-01,superliga_griega,1,G1,16/09/00,NaN,NaN,6.0,0.0,H
229800,00-01,superliga_griega,1,G1,16/09/00,NaN,NaN,2.0,1.0,H
229801,00-01,superliga_griega,1,G1,17/09/00,NaN,NaN,1.0,0.0,H
229802,00-01,superliga_griega,1,G1,17/09/00,NaN,NaN,0.0,0.0,D
229803,00-01,superliga_griega,1,G1,17/09/00,NaN,NaN,1.0,1.0,D
229804,00-01,superliga_griega,1,G1,17/09/00,NaN,NaN,1.0,1.0,D
229805,00-01,superliga_griega,1,G1,18/09/00,NaN,NaN,2.0,0.0,H
229806,00-01,superliga_griega,1,G1,18/09/00,NaN,NaN,2.0,3.0,A
229807,00-01,superliga_griega,1,G1,23/09/00,NaN,NaN,0.0,2.0,A
229808,00-01,superliga_griega,1,G1,24/09/00,NaN,NaN,1.0,0.0,H
229809,00-01,superliga_griega,1,G1,24/09/00,NaN,NaN,0.0,3.0,A
229810,00-01,superliga_griega,1,G1,24/09/00,NaN,NaN,1.0,0.0,H
229811,00-01,superliga_griega,1,G1,24/09/00,NaN,NaN,2.0,0.0,H
229812,00-01,superliga_griega,1,G1,24/09/00,NaN,NaN,1.0,2.0,A
229813,00-01,superliga_griega,1,G1,24/09/00,NaN,NaN,1.0,3.0,A
229814,00-01,superliga_griega,1,G1,25/09/00,NaN,NaN,2.0,1.0,H
229815,00-01,superliga_griega,1,G1,30/09/00,NaN,NaN,1.0,1.0,D
229816,00-01,superliga_griega,1,G1,01/10/00,NaN,NaN,2.0,2.0,D
229817,00-01,superliga_griega,1,G1,01/10/00,NaN,NaN,0.0,0.0,D
229818,00-01,superliga_griega,1,G1,01/10/00,NaN,NaN,3.0,3.0,D
229819,00-01,superliga_griega,1,G1,01/10/00,NaN,NaN,3.0,1.0,H
229820,00-01,superliga_griega,1,G1,01/10/00,NaN,NaN,2.0,2.0,D
229821,00-01,superliga_griega,1,G1,01/10/00,NaN,NaN,0.0,0.0,D
229822,00-01,superliga_griega,1,G1,02/10/00,NaN,NaN,1.0,1.0,D
229823,00-01,superliga_griega,1,G1,29/10/00,NaN,NaN,3.0,2.0,H
229824,00-01,superliga_griega,1,G1,29/10/00,NaN,NaN,0.0,2.0,A
229825,00-01,superliga_griega,1,G1,29/10/00,NaN,NaN,2.0,1.0,H
229826,00-01,superliga_griega,1,G1,29/10/00,NaN,NaN,0.0,0.0,D
229827,00-01,superliga_griega,1,G1,29/10/00,NaN,NaN,0.0,4.0,A
229828,00-01,superliga_griega,1,G1,29/10/00,NaN,NaN,0.0,0.0,D
229829,00-01,superliga_griega,1,G1,30/10/00,NaN,NaN,3.0,1.0,H
229830,00-01,superliga_griega,1,G1,01/11/00,NaN,NaN,4.0,0.0,H
229831,00-01,superliga_griega,1,G1,04/11/00,NaN,NaN,4.0,1.0,H
229832,00-01,superliga_griega,1,G1,05/11/00,NaN,NaN,2.0,2.0,D
229833,00-01,superliga_griega,1,G1,05/11/00,NaN,NaN,2.0,0.0,H
229834,00-01,superliga_griega,1,G1,05/11/00,NaN,NaN,1.0,1.0,D
229835,00-01,superliga_griega,1,G1,05/11/00,NaN,NaN,4.0,1.0,H
229836,00-01,superliga_griega,1,G1,05/11/00,NaN,NaN,1.0,0.0,H
229837,00-01,superliga_griega,1,G1,05/11/00,NaN,NaN,3.0,1.0,H
229838,00-01,superliga_griega,1,G1,06/11/00,NaN,NaN,2.0,3.0,A
229839,00-01,superliga_griega,1,G1,11/11/00,NaN,NaN,2.0,0.0,H
229840,00-01,superliga_griega,1,G1,12/11/00,NaN,NaN,2.0,1.0,H
229841,00-01,superliga_griega,1,G1,12/11/00,NaN,NaN,0.0,2.0,A
229842,00-01,superliga_griega,1,G1,12/11/00,NaN,NaN,2.0,1.0,H
229843,00-01,superliga_griega,1,G1,12/11/00,NaN,NaN,4.0,1.0,H
229844,00-01,superliga_griega,1,G1,12/11/00,NaN,NaN,0.0,0.0,D
229845,00-01,superliga_griega,1,G1,12/11/00,NaN,NaN,1.0,1.0,D
229846,00-01,superliga_griega,1,G1,13/11/00,NaN,NaN,0.0,1.0,A
229847,00-01,superliga_griega,1,G1,18/11/00,NaN,NaN,2.0,2.0,D
229848,00-01,superliga_griega,1,G1,19/11/00,NaN,NaN,2.0,0.0,H

Resumen de partidos sin Home/Away por grupo (top 20):

                                  missing_home_away_count
Division Competition      Season
1        superliga_griega 00-01                       240
                          02-03                       240
                          03-04                       240
                          04-05                       144

Dado que son todos de 4 temporadas de la misma liga, eliminamos por completo toda esa competicion durante esas temporadas

In [86]:
# Eliminar registros de superliga_griega en seasons específicas
import pandas as pd

# Partros de borrado
TARGET_COMPETITION = 'superliga_griega'
TARGET_SEASONS = ['00-01', '02-03', '03-04', '04-05']

# Validaciones de columnas
missing_cols = [c for c in ['Competition','Season'] if c not in df_simplificado.columns]
if missing_cols:
    print(f"Faltan columnas requeridas en df_simplificado: {missing_cols}. No se puede proceder.")
else:
    comp_vals = df_simplificado['Competition'].astype(str).str.strip().str.lower()
    season_vals = df_simplificado['Season'].astype(str).str.strip()

    comp_mask = comp_vals.eq(TARGET_COMPETITION)
    season_mask = season_vals.isin(TARGET_SEASONS)
    remove_mask = comp_mask & season_mask

    before_rows = len(df_simplificado)
    to_remove = int(remove_mask.sum())

    # Resumen de eliminados por Season (y Division si existe)
    cols_group = ['Season'] + ([ 'Division' ] if 'Division' in df_simplificado.columns else ([ 'Div' ] if 'Div' in df_simplificado.columns else []))
    removed_summary = (
        df_simplificado.loc[remove_mask, cols_group]
        .groupby(cols_group, dropna=False)
        .size()
        .to_frame('removed_rows')
        .sort_values('removed_rows', ascending=False)
    )

    # Aplicar borrado
    df_simplificado = df_simplificado.loc[~remove_mask].copy()
    after_rows = len(df_simplificado)

    print(f"Filas antes: {before_rows}")
    print(f"Filas eliminadas (superliga_griega {TARGET_SEASONS}): {to_remove}")
    print(f"Filas después: {after_rows}")

    if to_remove > 0:
        print('\nResumen de filas eliminadas por grupo (Season y Division/Div):')
        display(removed_summary)

    # Lista única de seasons eliminadas (por trazabilidad)
    removed_seasons = sorted(set(season_vals[remove_mask].tolist()))
    print('\nSeasons afectadas eliminadas:')
    print(removed_seasons)

Filas antes: 204000
Filas eliminadas (superliga_griega ['00-01', '02-03', '03-04', '04-05']): 864
Filas después: 203136

Resumen de filas eliminadas por grupo (Season y Division/Div):

                 removed_rows
Season Division
00-01  1                  240
02-03  1                  240
03-04  1                  240
04-05  1                  144

Seasons afectadas eliminadas:
['00-01', '02-03', '03-04', '04-05']

In [87]:
# Resumen de tipos y calidad de datos
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

summary = pd.DataFrame({
    'dtype': df_simplificado.dtypes.astype(str),
    'non_null': df_simplificado.notna().sum(),
    'nulls': df_simplificado.isna().sum(),
    'null_%': (df_simplificado.isna().mean() * 100).round(2),
    'unique': df_simplificado.nunique(dropna=True)
}).sort_index()

display(summary)

               dtype  non_null  nulls  null_%  unique
AR           float64    128537  74599   36.72       6
AY           float64    128539  74597   36.72      11
AwayTeam      object    203136      0    0.00     764
Competition   object    203136      0    0.00      11
Date          object    203136      0    0.00    8335
Div           object    203136      0    0.00      22
Division      object    203136      0    0.00       7
FTAG         float64    203136      0    0.00      11
FTHG         float64    203136      0    0.00      11
FTR           object    203136      0    0.00       3
HR           float64    128539  74597   36.72       4
HTAG         float64    193314   9822    4.84       8
HTHG         float64    193314   9822    4.84       8
HTR           object    193314   9822    4.84       3
HY           float64    128538  74598   36.72      12
HomeTeam      object    203136      0    0.00     773
ODDS_A       float64    185372  17764    8.74     243
ODDS_D       float64    185372  17764    8.74     131
ODDS_H       float64    185372  17764    8.74     225
Season        object    203136      0    0.00      33

A las variables AR, AY, HR y HY dado que son tarjetas, vamos a asignar el valor de la moda.
Para las nulos en HTAG, HTHG y HR, aunque no sea del todo correcto y estemos suponiendo que el partido acabó igual que iba al descanso, vamos a introducir el valor de FTAG, FTHG y FTR

In [88]:
# Rellenar tarjetas con moda y completar HTAG/HTHG/HTR desde FTAG/FTHG/FTR
import numpy as np
import pandas as pd

cols_cards = ['AR','AY','HR','HY']
cols_half_final_map = {
    'HTAG': 'FTAG',
    'HTHG': 'FTHG',
    'HTR':  'FTR',
}

# Resumen antes
before_nulls = {}
for c in cols_cards + list(cols_half_final_map.keys()):
    if c in df_simplificado.columns:
        before_nulls[c] = int(df_simplificado[c].isna().sum())

# 1) Rellenar tarjetas con la moda global de cada columna
for c in cols_cards:
    if c in df_simplificado.columns:
        s = df_simplificado[c]
        # Convertir a numérico cuando tiene forma numérica
        s_num = pd.to_numeric(s, errors='ignore')
        mode_vals = pd.Series(s_num).mode(dropna=True)
        if len(mode_vals) > 0:
            mode_val = mode_vals.iloc[0]
            df_simplificado[c] = s_num.fillna(mode_val)

# 2) Rellenar HTAG/HTHG/HTR a partir de FTAG/FTHG/FTR
for half_col, final_col in cols_half_final_map.items():
    if half_col in df_simplificado.columns and final_col in df_simplificado.columns:
        if half_col in ['HTAG','HTHG']:
            half = pd.to_numeric(df_simplificado[half_col], errors='coerce')
            final = pd.to_numeric(df_simplificado[final_col], errors='coerce')
            df_simplificado[half_col] = half.fillna(final)
        else:  # HTR desde FTR
            half = df_simplificado[half_col].astype(str).str.strip()
            half = half.replace({'': np.nan})
            final = df_simplificado[final_col].astype(str).str.strip().str.upper()
            final = final.replace({'': np.nan})
            # Sólo considerar FTR válido H/D/A
            final_valid = final.where(final.isin(['H','D','A']))
            df_simplificado[half_col] = half.where(half.notna(), final_valid)

# Resumen después
after_nulls = {}
for c in cols_cards + list(cols_half_final_map.keys()):
    if c in df_simplificado.columns:
        after_nulls[c] = int(df_simplificado[c].isna().sum())

print('Nulos antes -> después (columnas clave):')
for c in sorted(set(list(before_nulls.keys()) + list(after_nulls.keys()))):
    print(f"{c}: {before_nulls.get(c, 'NA')} -> {after_nulls.get(c, 'NA')}")

print('\nColumnas actuales en df_simplificado:')
print(list(df_simplificado.columns))

Nulos antes -> después (columnas clave):
AR: 74599 -> 0
AY: 74597 -> 0
HR: 74597 -> 0
HTAG: 9822 -> 0
HTHG: 9822 -> 0
HTR: 9822 -> 0
HY: 74598 -> 0

Columnas actuales en df_simplificado:
['Season', 'Division', 'Competition', 'Div', 'Date', 'HomeTeam', 'AwayTeam', 'AR', 'AY', 'FTAG', 'FTHG', 'FTR', 'HR', 'HTAG', 'HTHG', 'HTR', 'HY', 'ODDS_H', 'ODDS_D', 'ODDS_A']

C:\Users\andre\AppData\Local\Temp\ipykernel_21264\4197002147.py:23: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  s_num = pd.to_numeric(s, errors='ignore')

In [89]:
# Resumen de tipos y calidad de datos
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

summary = pd.DataFrame({
    'dtype': df_simplificado.dtypes.astype(str),
    'non_null': df_simplificado.notna().sum(),
    'nulls': df_simplificado.isna().sum(),
    'null_%': (df_simplificado.isna().mean() * 100).round(2),
    'unique': df_simplificado.nunique(dropna=True)
}).sort_index()

display(summary)

               dtype  non_null  nulls  null_%  unique
AR           float64    203136      0    0.00       6
AY           float64    203136      0    0.00      11
AwayTeam      object    203136      0    0.00     764
Competition   object    203136      0    0.00      11
Date          object    203136      0    0.00    8335
Div           object    203136      0    0.00      22
Division      object    203136      0    0.00       7
FTAG         float64    203136      0    0.00      11
FTHG         float64    203136      0    0.00      11
FTR           object    203136      0    0.00       3
HR           float64    203136      0    0.00       4
HTAG         float64    203136      0    0.00      10
HTHG         float64    203136      0    0.00       9
HTR           object    203136      0    0.00       4
HY           float64    203136      0    0.00      12
HomeTeam      object    203136      0    0.00     773
ODDS_A       float64    185372  17764    8.74     243
ODDS_D       float64    185372  17764    8.74     131
ODDS_H       float64    185372  17764    8.74     225
Season        object    203136      0    0.00      33

In [92]:
# Mostrar registros con ODDS_A nulo y agrupar por Division, Competition y Season
import pandas as pd
import numpy as np

if 'df_simplificado' not in globals():
    print('df_simplificado no existe en el entorno. Ejecuta las celdas de preparación primero.')
elif 'ODDS_A' not in df_simplificado.columns:
    print('La columna ODDS_A no existe en df_simplificado.')
else:
    missing_mask = df_simplificado['ODDS_A'].isna()

    cols_ctx = [c for c in ['Season','Competition','Division','Div','Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR','ODDS_H','ODDS_D','ODDS_A'] if c in df_simplificado.columns]
    missing_rows = df_simplificado.loc[missing_mask, cols_ctx].copy()

    print(f'Total de filas con ODDS_A nulo: {len(missing_rows)}')
    display(missing_rows.head(5))

    # Agrupar por Division/Div, Competition y Season
    group_cols = []
    if 'Division' in missing_rows.columns:
        group_cols.append('Division')
    elif 'Div' in missing_rows.columns:
        group_cols.append('Div')
    if 'Competition' in missing_rows.columns:
        group_cols.append('Competition')
    if 'Season' in missing_rows.columns:
        group_cols.append('Season')

    if group_cols:
        summary = (
            missing_rows
            .groupby(group_cols, dropna=False)
            .size()
            .to_frame('missing_ODDS_A_count')
            .sort_values('missing_ODDS_A_count', ascending=False)
        )
        print('\nResumen de ODDS_A nulo por grupo (top 20):')
        display(summary.head(20))
    else:
        print('No hay columnas adecuadas para agrupar (Division/Div, Competition, Season).')

Total de filas con ODDS_A nulo: 17764

,Season,Competition,Division,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,ODDS_H,ODDS_D,ODDS_A
421,01-02,belgian_pro_league,1,B1,25/11/01,Molenbeek,Genk,2.0,5.0,A,NaN,NaN,NaN
554,01-02,belgian_pro_league,1,B1,24/03/02,Aalst,Germinal,3.0,3.0,D,NaN,NaN,NaN
596,01-02,belgian_pro_league,1,B1,28/04/02,Beveren,Louvieroise,0.0,3.0,A,NaN,NaN,NaN
606,01-02,belgian_pro_league,1,B1,05/05/02,Aalst,St Truiden,1.0,1.0,D,NaN,NaN,NaN
667,02-03,belgian_pro_league,1,B1,29/09/02,Mechelen,Lokeren,2.0,3.0,A,NaN,NaN,NaN

Resumen de ODDS_A nulo por grupo (top 20):

                               missing_ODDS_A_count
Division Competition   Season
2        premier_ligue 94-95                    552
                       93-94                    552
                       95-96                    552
                       99-00                    552
3        premier_ligue 99-00                    552
                       98-99                    552
                       96-97                    552
                       95-96                    552
2        premier_ligue 98-99                    552
                       97-98                    552
                       96-97                    552
1        premier_ligue 97-98                    520
                       93-94                    520
                       95-96                    520
                       94-95                    520
                       99-00                    520
                       98-99                    520
                       96-97                    520
2        la_liga       97-98                    462
                       98-99                    462

In [ ]:
# Exportar dataframe final a CSV en data/intermediate
import os
import pandas as pd

if 'df_simplificado' not in globals():
    print('df_simplificado no existe en el entorno. Ejecuta las celdas anteriores.')
else:
    out_path = 'data/intermediate/unified_cleaned_football_data.csv'
    os.makedirs(os.path.dirname(out_path), exist_ok=True)
    rows, cols = len(df_simplificado), len(df_simplificado.columns)
    df_simplificado.to_csv(out_path, index=False)
    print(f'Guardado: {out_path}')
    print(f'Tamaño del dataframe: {rows} filas, {cols} columnas')